/*  ===== MOBILE styles (reside at the top and are inherited by all devices) ===== */
/*  ===== See tablet, desktop, and print @media queries at the bottom. */


/*   ----- Imports  -----  */
  /* @import 'node_modules/modern-normalize/modern-normalize.css';  npm install modern-normalize  Resets elements for browser consistency.  https://www.npmjs.com/package/modern-normalize */         
  /* @import "component1.css";   Component-specific stylesheets, if any.   */
  @import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet');

  /*   ----- Variables  -----  */
  :root {
      --lightBlue: #4488BB;
      --darkBlue: #213140;
      --beige: #F2E7E5;
      --orangeBeige: #BCBBC1;
      --darkBlueBG: #213140b9;
      --greyBG: #F2D8C980;
      /*--custom-color-name:;
      --custom-embellishment-name:;*/
    }
    
    /*  ----- Viewport ----- elements inherited by all remaining elements ----- */
    body {
      background-color:var(--darkBlue);
      background-image:url(assets/toyako_background.jpg);
      background-size: cover;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      color:var(--lightBlue);
      font-family: 'Open Sans', sans-serif;
      margin: 0;
      padding-left: 10%;
      padding-right: 10%;
      max-width: 80%;
      line-height: 1.5;
      flex-direction: column;
    }
    
    /*  ----- Page layout blocks -----  */
    header {
      background-color: var(--darkBlue);
      background-position: center;
      color: var(--beige);
      text-align: center;
      margin:0;
      border-radius: 20px 20px 20px 20px;
      width: 80vw;
    }
    header img {
      width: 40px;
      height: 40px;
      margin: 0;
      padding-top: 9px;
    }
    main {
      background-color: var(--darkBlueBG);
      color: var(--orangeBeige);
      padding: 0 10px 1px 10px;
      border-radius: 20px 20px 20px 20px;
      margin:0;
      max-width: 80vw;
    }
    section {}
    article {
    }
      #topic1 {}
      #topic2 {}
    div {}
    aside {}
    footer {
      background-color: var(--greyBG);
      color: var(--darkBlue);
      text-align: right;
      padding-right: 3%;
      border-radius: 20px 20px 20px 20px;
      max-width: 80vw;
    }
    
    /* ----- Anchors ----- Text links */
    a {}
    a:link {}
    a:hover {}
    a:active {}
    a:visited {}
    
    /*  ----- Navigation ----- Override text links for navigation only.  */
    nav {
      display: flex;
      flex-flow: row wrap;
    }
    nav a {
      text-decoration:none;
      font-weight:bold;
      color: var(--lightBlue);
      margin-right: 3px;
      padding-left: 15px;
      padding-right: 15px;
      vertical-align:middle;
      border-left: 2px solid var(--darkBlue);
      border-right: 2px solid var(--darkBlue);
    }
    nav a:hover {
      color: var(--beige);
      border-left: 2px solid var(--lightBlue);
      border-right: 2px solid var(--lightBlue);
      background-color: var(--darkBlue);
    }
  
    nav.local {
      display: flex;
    }
    
    nav.local a {
      text-decoration:none;
      background-color: var(--greyBG);
      font-weight:bold;
      margin-right: 3px;
      padding-left: 10px;
      padding-right: 10px;
      vertical-align:middle;
      border: 2px solid var(--darkBlue);
    }
    
    nav.local a:hover {
      border: 2px solid var(--lightBlue);
      background-color: var(--darkBlue);
    }
    
    /*  -----  Typography  ----- */
    p {}
    br {}
    ol, ul, dl {}
    li {}
    dt {}
    dd {}
    
    h1, h2, h3, h4, h5, h6 {
      font-family:'Anton SC', sans-serif;
      line-height:1.5;
      border-bottom: 2px solid var(--orangeBeige);
    } 
    h1 {
      font-size:2.4em;
    }
    h2 {}
    h3 {}
    h4 {}
    h5 {}
    h6 {}
    
    abbr {}
    acronym {}
    address {}
    blockquote {}
      q {}
      cite {}
    em {}
    hr {}
    mark {}
    s {}
    span {}
    strong {}
    sub {}
    sup {}
    time {}
    
    /*  ----- Coding or instructional typography ----- */
    pre {}
    code {}
    kbd {}
    samp {}
    var {}
    del {} 
    ins {}
    
    /*  ----- Table ----- */
    table {
      width: 80%;
      border: 2px solid var(--lightBlue);
    }
    caption {
      font-family: 'Anton SC', sans-serif;
      font-size: 1.8em;
      color: var(--orangeBeige);
      margin-bottom: 2px;
      text-align: left;
    }
    thead {}
    tbody {}
    tfoot {}
    tr {
      border-bottom: 2px solid var(--lightBlue);
      color: var(--darkBlue);
    }
      tr:nth-child(even) {}
    th {
      padding: 10px;
      text-align: left;
      color: var(--lightBlue);
      background-color: var(--darkBlueBG);
    }
    td {
      background-color: var(--greyBG);
      color: var(--beige);
    }
      td:nth-child(1) {}
    colgroup {}
    data {}
    datalist {}
    
    
    /*  ----- Form ----- */
    form {}
    fieldset {
      border: 1px solid var(--orangeBeige);
      margin-bottom: 1%;
      padding: 1%;
    }
      legend {
        color:var(--orangeBeige);
        font-size: 110%;
        font-weight: bold;
        font-family:'Anton SC', sans-serif;
      }
    label {
      margin-right: 1%;
    }
    button {
      border: 2px solid var(--darkBlue);
      background-color: var(--greyBG);
      color: var(--lightBlue);
      font-weight: bold;
      font-family: 'Open Sans', sans-serif;
      font-size: 18px;
    }
    button:hover {
      color: var(--beige);
      border: 2px solid var(--lightBlue);
      background-color: var(--darkBlue);
    }
    input, textarea {
      background-color: var(--greyBG);
      color: var(--darkBlue);
      border: 2px solid var(--lightBlue);
    }
    textarea {
      width: 50%;
      height: 150px;
    }
    select {
      background-color: var(--greyBG);
      color: var(--darkBlue);
      border: 2px solid var(--lightBlue);
    }
    *::placeholder {
      color: var(--beige);
    }
  label.required:after {
    content:" *";
    color: red;
  }
      optgroup {}
      option {}
    output {}
    meter {}
    progress {}
    
    
    /* ----- Media ----- */
    figure {}
      figcaption {}
      figure img {}
    svg {}
    picture {}
      source {}
    iframe {}
    video {}
    audio {}
    embed {}
    object {}
    
    /*  ----- Classes for alignment, positioning, widths, grids, embellishments, and animation -----  */
    .gallery {
      display: flex;
      color: var(--beige);
      margin: 0px;
      padding: 10px; 
      flex-flow: row wrap;
  }
  
  .gallery figure {
      margin: 10px; 
      padding: 10px; 
      border: 2px solid var(--lightBlue);
      background-color: var(--greyBG);
      width: 500px;
  }
    
    .floatright {}
    .floatleft {}
    .center-middle {}
    
    .ten {}
    .twenty {}
    .thirty {}
    .forty {}
    .fifty {}
    .sixty {}
    .seventy {}
    .eighty {}
    
    .radius {}
    .circle {}
    .boxshadow {}
    .tshadow {} 
    .gradient {}
    .shape {}
    
    @keyframes App-logo {}
    
    /*   ===== TABLET  media query overrides mobile styles ===== */
    @media all and (min-width: 600px) {}
    
    /*   ===== DESKTOP  media query overrides mobile and tablet styles ===== */
    @media all and (min-width: 1080px) {}
    
    /*   ===== PRINT  media query overrides previous styles =====  */
    @media print {}

    /* #root {
      max-width: 1280px;
      margin: 0 auto;
      padding: 2rem;
      text-align: center;
    }
    
    .logo {
      height: 6em;
      padding: 1.5em;
      will-change: filter;
      transition: filter 300ms;
    }
    .logo:hover {
      filter: drop-shadow(0 0 2em #646cffaa);
    }
    .logo.react:hover {
      filter: drop-shadow(0 0 2em #61dafbaa);
    }
    
    @keyframes logo-spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
    
    @media (prefers-reduced-motion: no-preference) {
      a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
      }
    }
    
    .card {
      padding: 2em;
    }
    
    .read-the-docs {
      color: #888;
    }
    
    
     */